<div class="container my-4">
  <h2 class="text-light mb-4">Reseñas de Usuarios</h2>
  <div class="row">
    <div class="col-md-6 mb-4" *ngFor="let review of reviews">
      <div class="card bg-dark text-light h-100">
        <div class="card-body">
          <h5 class="card-title">
            {{ review.usuario?.nombre || "Usuario Anónimo" }}
          </h5>
          <h6 class="card-subtitle mb-2">
            Calificación: {{ review.calificacion }}/5
          </h6>
          <p class="card-text">{{ review.comentario }}</p>
          <p class="card-text">Fecha: {{ review.fechaResena }}</p>
          <p class="card-text">Libro: {{ review.libro?.titulo }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
